In [4]:
#!pip install fastai
!pip install torchtext==0.2.3

Requirement already satisfied: torchtext==0.2.3 in c:\users\hazee\anaconda3\lib\site-packages (0.2.3)
Requirement already satisfied: tqdm in c:\users\hazee\anaconda3\lib\site-packages (from torchtext==0.2.3) (4.50.2)
Requirement already satisfied: requests in c:\users\hazee\anaconda3\lib\site-packages (from torchtext==0.2.3) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\hazee\anaconda3\lib\site-packages (from requests->torchtext==0.2.3) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hazee\anaconda3\lib\site-packages (from requests->torchtext==0.2.3) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hazee\anaconda3\lib\site-packages (from requests->torchtext==0.2.3) (2020.6.20)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\hazee\anaconda3\lib\site-packages (from requests->torchtext==0.2.3) (2.8)

In [5]:
from fastai.tabular.all import *
from fastai.collab import *
import pandas as pd
import numpy as np

In [9]:
ratings= pd.read_csv('rating.csv')
print(ratings.shape)

(2756101, 4)

In [10]:
g = ratings.groupby('visitorid')['rating'].count()

In [11]:
topVisitors = g.sort_values(ascending=False)[:15]

In [12]:
g = ratings.groupby('itemid')['rating'].count()

In [13]:
topItems = g.sort_values(ascending=False)[:15]

In [14]:
top_r = ratings.join(topVisitors, rsuffix='_r', how='inner', on='visitorid')

In [15]:
top_r = top_r.join(topItems, rsuffix='_r', how='inner', on='itemid')

In [16]:
pd.crosstab(top_r.visitorid, top_r.itemid, top_r.rating, aggfunc=np.sum)

itemid,5411,7943,111530,219512,257040,309778,320130,335975,384302,441668,461686
visitorid,,,,,,,,,,,
76757,NaN,4.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
152963,1.0,3.0,1.0,7.0,2.0,NaN,34.0,NaN,15.0,1.0,15.0
163561,1.0,9.0,NaN,NaN,NaN,6.0,2.0,NaN,NaN,NaN,1.0
286616,NaN,5.0,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
316850,NaN,1.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
371606,NaN,1.0,NaN,7.0,3.0,NaN,NaN,NaN,NaN,8.0,8.0
530559,NaN,NaN,NaN,12.0,6.0,NaN,5.0,NaN,8.0,NaN,2.0
684514,NaN,3.0,2.0,NaN,2.0,1.0,NaN,NaN,NaN,6.0,3.0
836635,NaN,2.0,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0,1.0
861299,NaN,1.0,NaN,2.0,1.0,1.0,NaN,NaN,1.0,NaN,4.0
895999,NaN,2.0,NaN,4.0,1.0,NaN,4.0,NaN,1.0,3.0,1.0
1150086,NaN,14.0,3.0,14.0,6.0,3.0,11.0,NaN,21.0,3.0,37.0
1297062,NaN,2.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0,NaN,4.0

In [17]:
ratings=ratings[:1000] #slice data to make it smaller
ratings.shape

(1000, 4)

In [18]:
dls = CollabDataLoaders.from_df(ratings, user_name='visitorid', item_name='itemid',rating_name='rating', bs=64, valid_pct=0.2)
dls.show_batch()

In [19]:
learn = collab_learner(dls, n_factors=50, y_range=(0, 3.5))

In [20]:
learn.fit_one_cycle(5)

In [21]:
learn.model

EmbeddingDotBias(
  (u_weight): Embedding(681, 50)
  (i_weight): Embedding(741, 50)
  (u_bias): Embedding(681, 1)
  (i_bias): Embedding(741, 1)
)